.surveyList{
    position: relative;
    
    margin: 0 auto;

    width: 94%;
    height: 90%;
    top: 8%;
    right: -10px
}

.surveyButton{
    margin-top: 10px;
    margin-bottom: 10px;

    min-width: 241px;
    min-height: 225px;

    background: #c4c4c4 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 50px !important;
}

.fetchingSurveySvg{
    text-align: center;
}

.surveyCol{
    height: 100%;
    width: 320px;
    right: 1%;

    scrollbar-color: gray transparent;
    scrollbar-width: thin;

    box-shadow: 
    inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC; 
}

.surveyList{
    height: 100%;
    top: 0;

    overflow: hidden;
    overflow-y: scroll;
}


.createSurveyButton{
    position: absolute;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;

    color: black;
    font-weight: bold;
    
    background: #c4c4c4 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 19px !important;
}

.createSurveyForm{
    height: 100%;
    width: 100%;
}

.surveyNameGroup{
    margin: 0;
    width: 40%;
    max-width: 371.2px;
}

.descriptionGroup{
    margin: 0;
    width: 40%;
    max-width: 371.2px;
}

.surveyButtonText{
    color: black;
    font-size: large;
    font-weight: bold;
}

.selectedSurveyWrapper{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;

    height: 92.01%;
    width: 30.15%;
}

.nameField {
    background: #D8D5DB !important;

    border-radius: 19px;
}

.descriptionField{
    background: #D8D5DB !important;
    max-height: 500px;
    min-height: 200px;

    border-radius: 19px;
}

@media only screen and (max-width: 800px){
    .surveyList{
        padding-left: 0;
    }

    .surveyButton{
        max-height: 149px;
    }
}