.surveyButton{
    margin-top: 10px;
    margin-bottom: 10px;

    min-width: 241px;
    min-height: 225px;

    background: #c4c4c4;
    border: none;
    box-shadow: none;
    border-radius: 50px;
}

.fetchingSurveySvg{
    text-align: center;
}

.surveyCol{
    position: absolute;
    right: 5px;
    top: 60px;
    height: 93%;
    width: 320px;
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
}

.surveyList{
    overflow: hidden;
    overflow-y: scroll;
}


.createSurveyButton{
    position: absolute;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;

    color: black;
    font-weight: bold;
    
    background: #c4c4c4;
    border: none;
    box-shadow: none;
    border-radius: 19px;
}

.createSurveyForm{
    height: 100%;
    width: 100%;
}

.surveyNameGroup{
    margin: 0;
    width: 40%;
    max-width: 371.2px;
}

.descriptionGroup{
    margin: 0;
    width: 40%;
    max-width: 371.2px;
}

.surveyButtonText{
    color: black;
    font-size: large;
    font-weight: bold;
}

.selectedSurvey{
    width: 45%;
}

.nameField {
    background: #D8D5DB;
    width: 100%;
    border-radius: 19px;
    border: none;
}

.descriptionField{
    background: #D8D5DB;
    max-height: 500px;
    min-height: 200px;
    min-width: 100%; 

    border-radius: 19px;
    border: none;
}

.optionButton{
    background: #D8D5DB;
    margin: 5px;
    border-radius: 19px;
    border: none;

    text-align: center;
}

.selectedSurveySubmit{
    width: 50%;
    border: none;
    background: #D8D5DB;
    border-radius: 19px;

    font-weight: inherit;
}

@media only screen and (max-width: 800px){
    .surveyList{
        padding-left: 0;
    }

    .surveyButton{
        max-height: 149px;
    }
}