.surveyOptionsContainer{
    position: absolute;
    
    height: 93.5%;

    scrollbar-color: rebeccapurple green;
}

.surveyList{
    position: relative;
    
    margin: 0 auto;

    width: 94.16%;
    height: 75.56%;
    top: 5%;
    right: -10px
}

.surveyButton{
    margin-right: 1.32%;
    margin-bottom: 10px;

    width: 47.91%;
    height: 58.67%;
    max-width: 400px;
    max-height: 400px;

    background: #c4c4c4 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 85px !important;
}

.surveyButtonText{
    color: black;
    font-size: large;
    font-weight: bold;
}

@media only screen and (max-width: 800px){
    .surveyList{
        padding-left: 0;
    }

    .surveyButton{
        max-height: 149px;
    }
}