.solidButton{
    position: relative;
    width: 9.375rem;
    height: 4.375rem;
    margin: 3px;
  
    background: #031231;
    border-radius: 19px;
    background-color: #031231 !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .softButton{
    position: relative;
    width: 338px;
    height: 56px;
  
    background: #b0d7ff;
    display: block;
    border-radius: 19px;
    background-color: #b0d7ff !important;
    border: none !important;
    box-shadow: none !important;
  }